* {
    font-family: monospace;
}

table {
    border-collapse: collapse;
}

table td, table th {
    border-width: 1px;
    border-color: #D9D9D9;
    border-style: dashed;
    padding: 5px;
}

table thead {
    background-color: #F8F8F8;
}

input {
    width: 95%;
    border-width: 1px;
    border-color: #D9D9D9;
    border-style: solid;
}